.all {
    margin: 25px;
}

.header {
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.6em;
}

.polaroid {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}

.polaroid>img {
    width: 100%;
    height: auto;
}

.caption {
    text-align: center;
    line-height: 2em;
}

.item {
    width: 15%;
    display: inline-block;
    margin-top: 2rem;
}